import { withContext } from '../../../lib/src/cy-runner';
import externals from '{{{pathToExternals}}}';

const selectorTree = `
{{{selectorTree}}}
`;

const { test, add } = withContext(selectorTree, externals);

{{#blocks}}
add `
{{{block}}}`;

{{/blocks}}

describe('specs from {{{sourceFileName}}}', () => {
{{#specs}}
  it('spec #{{specNumber}}', () => {
    test `
{{{spec}}}`;
  });

{{/specs}}
});
