import { withContext } from '../../../lib/src/cy-runner';
import externals from '{{{pathToExternals}}}';

const selectorTree = `
{{{selectorTree}}}
`;

const test = withContext(selectorTree, externals);

describe('specs from {{{sourceFileName}}}', () => {
{{#specs}}
  it('spec #{{specNumber}}', () => {
    test `
{{{spec}}}`;
  });

{{/specs}}
});
