@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&family=Playpen+Sans:wght@600&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100vh;
  background: rgb(86,167,227);
  font-family: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.big-button {
  margin: 1.2rem;
  font-size: 20px;
  padding: 0.35rem 1rem;
  border: 2px solid black;
  color: black;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.big-button:hover {
  transform: translateY(1px);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.big-button:active {
  transform: translateY(3px);
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
}

.small-button {
  font-size: 16px;
  padding: 0.2rem 1rem;
  border: 1px solid black;
  color: black;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.small-button:active {
  transform: translateY(0.1em);
}